<nav class="topnav modern-topnav">

  

  <div class="modern-topnav-header">
    <span class="modern-icon-text">
      <i class="fa-solid fa-ferry modern-icon"></i>
      <span class="modern-cmms-text"> CMMS </span>
    </span>
    
    <div class="modern-menu-items">
      <ng-container *ngFor="let item of menuItems; let i = index">
        <button (click)="item.path && navigateTo(item.path)"
          class="modern-menu-button" 
          [class.active]="item.path && isActive(item.path)"
          [title]="item.label">
          <span class="modern-menu-icon" *ngIf="item.icon">
            <i [ngClass]="item.icon"></i>
          </span>
          <span class="modern-menu-label" [title]="item.label">
            {{ item.label }}
          </span>
        </button>
      </ng-container>
    </div>

    <div class="modern-topnav-actions">
      <button (click)="logOut()" class="modern-menu-button modern-logout-button" title="Logout">
        <span class="modern-menu-icon">
          <i class="fa-solid fa-sign-out-alt"></i>
        </span>
        <span class="modern-menu-label">
          Logout
        </span>
      </button>
      

    </div>
  </div>
</nav>